default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  template: template0

development:
  <<: *default
  database: t_clone_development

test:
  <<: *default
  database: t_clone_test

production:
  <<: *default
  database: t_clone_production
  username: t_clone
  password: <%= ENV['T_CLONE_DATABASE_PASSWORD'] %>
