// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  min-height: 100%;
  position: relative;
}

body{
  margin-bottom: 60px;
  padding-bottom: 0;
}

.header{
  background-color: #00ffff;
  height: 50px;
  font-size: 1.5rem;
}

.top_menu li{
  float: left;
  width: auto;
}
.top_menu li a{
  color:#fff;
  text-decoration: none;
  display: block;
  padding: 5px;
}
.top_menu li a:hover{
  text-decoration: underline;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.top_image{
  width: 100%;
}

h1 {
  color:#00ffff;
}

.footer{
  background-color:#e0ffff;
  height: 60px;
  width: 100%;
  bottom: 0;
  display: table;
  position: fixed;
  margin-bottom: 0;
}

.footer p {
  font-size: 1rem;
  color: #87cefa;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.button{
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: #66ffff;
  color: #fff;
  border-bottom: solid 4px #00ccff;
  border-radius: 3px;
}

.button:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}